{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
  <!-- ====== Banner Section Start -->
  <div class="relative overflow-hidden bg-primary pt-[120px] md:pt-[130px] lg:pt-[160px]">
    <div
      class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke dark:via-dark-3 to-stroke/0">
    </div>
    <div class="container">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4">
          <div class="text-center">
            <h1 class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
              Votre compte</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ====== Banner Section End -->


    <section class="bg-[#F4F7FF] py-14 lg:py-[90px] dark:bg-dark">
        <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
                <div
                    class="wow fadeInUp relative mx-auto max-w-[525px] overflow-hidden rounded-xl shadow-form bg-white dark:bg-dark-2 py-14 px-8 text-center sm:px-12 md:px-[60px]"
                    data-wow-delay=".15s">
                        
                        <div class="mb-[22px]">
                            <p class="text-lg">{{ user.firstname }} {{ user.lastname }}</p>
                            <p class="text-lg">{{ user.email }}</p>
                            <br>

                            {% if subscription %}
                                <p class="text-lg">Abonnement actif :</p>
                                <p class="text-lg">{{ subscription.title }} | {{ subscription.price }} €</p>
                                <p class="text-lg">{{ subscription.description }}</p>
                                <br>
                                <a href={{ path('app_change_offer', { 'offer_id': 0 }) }}
                                  class="inline-block py-3 text-base font-medium text-center text-white transition rounded-md bg-primary px-7 hover:bg-blue-dark">
                                  Annuler l'abonnement
                                </a>
                            {% else %}
                                <p class="text-lg">Pas d'abonnement actif</p>

                                <br>
                                <a href={{ path('app_price') }}
                                  class="inline-block py-3 text-base font-medium text-center text-white transition rounded-md bg-primary px-7 hover:bg-blue-dark">
                                  Voir les offres
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
